<br>
<table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="95%" style="margin-left: -1rem;">
  <thead>
    <tr>
      <th class="th-sm">Name

      </th>
      <th class="th-sm">Position

      </th>
    </tr>
  </thead>
  <tbody>
   <% items.forEach(function(item){%>
		<% item.postulantes.forEach(function(data){%>
			<tr>
		    <td><%=data.p_codigo%></td>
		    <td><%=data.p_nombre%></td>
			</tr>
		<%});%>
	<%});%>
  </tbody>
  <tfoot>
    <tr>
      <th>Name
      </th>
      <th>Position
      </th>
    </tr>
  </tfoot>
</table>

<script type="text/javascript">
	$(document).ready(function () {
  $('#dtBasicExample').DataTable();
  $('.dataTables_length').addClass('bs-select');
});
</script>