<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Modal2" data-whatever="@getbootstrap">
Agregar
</button>
<hr>


<!--Modal Agregar-->
<div class="modal fade" id="Modal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Agregar Nuevo Salon</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form method="post" action="/salon">
          <div class="form-group">
          	<label for="txtNombre" class="col-form-label">Nombre:</label>
          	<input type="text" class="form-control" id="txtNombre" name="nombre">
          </div>
          <div class="form-group">
            <label for="txtCant" class="col-form-label">Cantidad Máxima:</label>
            <input type="text" class="form-control" id="txtCant" name="cant">
          </div>
          <hr>
          <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <input type="submit" value="Aceptar" class="btn btn-primary">
      </div>
        </form>
      </div> 
    </div>
  </div>
</div>